@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap');
/*font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: 0.5s;
}
body{
   
    display: flex;
    flex-direction: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    flex-direction: column;

}

header{
    display: flex;
    height: 150px;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 100px;
    margin-bottom: 150px;
}
.butao{
    text-decoration: none;
    border: none;
    background-color: white;
    color: hsl(322, 100%, 66%);
    font-size: 20px;
    padding: 10px 30px 10px 30px;
    border: 1px solid hsl(322, 100%, 66%);
    border-radius: 30px;
    box-shadow: 0px 0px 2px 2px hsla(322, 100%, 66%, 0.219);
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
}
.cabeca{
   width: 100%;
   margin-bottom: 200px;
 
}
.conteudo{
    margin-bottom: 150px;
}
.conteudo h1{
    font-size: 50px;
    margin-bottom: 20px;
}
.conteudo p{
    font-weight: 400;
    margin-bottom: 40px;
    font-size: 20px;
    
}
.conteudo a{
    text-decoration: none;
    background-color: rgb(253, 83, 192);
    padding: 20px 80px 20px 80px;
    color: white;
    font-weight: 600;
    font-size: 16px;
    border-radius: 30px;
    
}
.ima{
    margin-bottom: 100px;
}
.static{
    display: flex;
    justify-content: space-around;
}
.s1 h1 , .s2 h1{
    font-size: 100px;
}
.s1 p, .s2 p {
    font-size: 25px;
    color: rgba(0, 0, 0, 0.65);
}
.image1, .image2{
    display: flex;
 
}
.s1{
    margin-right: 6%;
  
}
.top-1, .buttom-1{
        height: 200px;
        width: 100%;
        background-image: url(images/bg-section-top-desktop-1.svg);
        background-size: 100% 100%;
        height: 180px;
        background-repeat: no-repeat;
        
   
}
.top-1-mobile{
    height: 100px;
    width: 100%;
    background-image: url(images/bg-section-top-mobile-1.svg);
    background-size: 100% 100%;
    height: 80px;
    background-repeat: no-repeat;
}
.buttom-1-mobile{
    height: 80px;
    width: 100%;
    background-size: 100% 100%;
    background-image: url(images/bg-section-bottom-mobile-1.svg);
}

.section-2, .tst{
    background-color: rgb(246, 251, 255);
    width: 100%;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: start;
}
.buttom-1{
    background-image: url(images/bg-section-bottom-desktop-1.svg);
    margin-bottom: 50px;
    
}
.text-2{
 
     width: 500px;
     margin-right: 100px;
   
}
.cont-image{

}
.img3{
    height: 350px;
  
}
.image4{
    margin-right: 250px;
}
.text-2 h1{

font-family: 'Poppins', sans-serif;;
font-size: 40px;
text-align: start;
margin-bottom: 20px;
}
.text-2 p{
    font-weight: 600;
    font-size: 15px;
    width: 100%;
    color: rgba(0, 0, 0, 0.65);
}
.tst{
    width: 1200px;
    display: flex;
}
.ts{
    width: 100%;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: start;
    width: 500px;
}
.top-2, .buttom-2{
    width: 100%;
    background-image: url(images/bg-section-top-desktop-2.svg);
    background-size: 100% 100%;
    height: 120px;
    background-repeat: no-repeat;
}
.top-2-mobile{
    height: 50px;
    width: 100%;
    background-image: url(images/bg-section-top-mobile-2.svg);
    background-size: 100% 100%;
    height: 80px;
    background-repeat: no-repeat;
}
.buttom-2-mobile{
    width: 100%;
    background-image: url(images/bg-section-bottom-mobile-2.svg);
    background-size: 100% 100%;
    height: 80px;
    background-repeat: no-repeat;
}

.buttom-2{
    background-image: url(images/bg-section-bottom-desktop-2.svg);
}
.last-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
}
.text-last h1{
    font-size: 35px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
}
.last-section a{
 text-decoration: none;
 color: white;
 background-color: rgb(253, 83, 192);
 padding: 20px 80px 20px 80px;
 border-radius: 30px;
 box-shadow: 0px 0px 3px 3px hsla(322, 100%, 66%, 0.298);
 font-weight: 700;
}

.div-footer{
    height: 200px;
    width: 100%;
    background-image: url(images/bg-footer-top-desktop.svg);
    background-size: 100% 100%;
    height: 200px;
    background-repeat: no-repeat;
}
.div-footer-mobile{
    width: 100%;
    background-image: url(images/bg-footer-top-mobile.svg);
    background-size: 100% 100%;
    height: 70px;
    background-repeat: no-repeat;
}
footer{
    background-color: rgb(0, 37, 46);
    height: 500px;
    display: flex;
    width: 100%;
    color: white;
    justify-content: space-evenly;
    align-items: center;
    
    
}
.top-1-mobile, .top-2-mobile, .buttom-1-mobile,.buttom-2-mobile,.div-footer-mobile{
    display: none;
}
.logo {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(125deg)
    brightness(200%);
    margin-bottom: 25px;
  }
  .icons i{
    color: white;
    font-size: 40px;

  }
  .contacts{
    color: white;
    margin-bottom: 70px;
  }
  .email,.phone{
    display: flex;
  }
  .statistic{
    width: 100%;
    margin-left: 350px;
  }
  .cont{
    width: 100%;
    height: 334px;
  }
  .text-lastx{
    margin-bottom: 25px;
  }
  .phone{
    margin-bottom: 20px;
  }
  .phone p , .email p{
    padding-left: 15px;
  }
  .fa-facebook-square{
    margin-right: 20px;
  }
  .fa-instagram{
    padding-right: 20px;
  }
  .txx h1{
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 20px;
  }
  .txx p{
    margin-bottom: 35px;
  }
  input {
    padding: 15px 65px 15px 65px;
    border-radius: 8px;
    border: none;
    margin-right: 30px;
  }
  .butons{
    display: flex;
    align-items: center;

  }
  .butons a {
    text-decoration: none;
    color: white;
    background-color: rgb(253, 83, 192);
    padding: 10px 30px 10px 30px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
  }
  html{
    scroll-behavior: smooth;
  }

  ::-webkit-scrollbar{
    width: 5px;
    background-color: rgb(255, 255, 255);
  }
  ::-webkit-scrollbar-thumb{
    background-color: rgba(0, 0, 0, 0.217);
    border-radius: 30px;
    
    width: 50px;
    
  }
  .td{
    width: 100%;
  }
  
@media screen and (max-width: 1200px){
    .text-2{
        text-align: center;
    }
    .top-1-mobile, .top-2-mobile, .buttom-1-mobile,.buttom-2-mobile,.div-footer-mobile{
        display: block;
    }
    .conteudo h1{
        font-size: 30px;
    }
    .conteudo p{
        font-size: 20px;
    }
    .ima{
        width: 550px;
    }
    .static{
        flex-direction: column;
    }
    .image1,.image2{
        flex-direction: center;
      justify-content: center;
    }
    .s1{
        margin-right: 0px;
    }
    .image4{
        margin-right: 0px;
    }

 
    .tst{
        flex-direction: column;
        height: 500px;
    }
    .text-2{
        margin-right: 0;
       
    }
    .ts{
        flex-direction: column-reverse;
        height:500px;
    }
    .top-1,.top-2,.buttom-1,.buttom-2,.div-footer{
        display: none;
    }
    .section-3{
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .text-2 h1{
        text-align: center;
    }
    .section-2, .section-3{
        height: 500px;
    }
    footer{
        flex-direction: column-reverse;
        height: 700px;
    }
   
  .statistic{
    margin-left: 0px;
  }
    
}
@media screen and (max-width:800px){
    .butons{
        flex-direction: column;
    }
    .top-1-mobile, .top-2-mobile, .buttom-1-mobile,.buttom-2-mobile,.div-footer-mobile{
        display: block;
        width: 100%;
    }
}
@media screen and (max-width: 500px){
    .text-last{
        text-align: center;
    }
    .top-1-mobile, .top-2-mobile, .buttom-1-mobile,.buttom-2-mobile,.div-footer-mobile{
        display: block;
        width: 100%;
    } 
    .ima{
        width: 350px;
    }
    .text-2{
        width: 60%;
    }
    .text-2 h1{
        font-size: 30px
    }
    .text-2 p{
        font-size: 14px;
    }
    .butons{
        flex-direction: column;
    }
    .ts{
        width: 350px;
    }
    .img3{
        width: 250px;
        height: 200px;
    }
    .conteudo h1{
        font-size: 16px;
      }
      .conteudo p{
        font-size: 12px;
      }
      header{
        margin-bottom: 50px;
        flex-direction: column;
      }
      .img{
        margin-bottom: 30px;
      }
      .last-section a{
        padding: 20px 50px 20px 50px;
      }
      .txx {
        padding: 25px;
      }
      .txx h1{
        font-size: 20px;
      }
      .txx p {
        font-size: 13px;
      }
      .statistic{
        padding: 25px;
      }
      input{
        margin-bottom: 25px;
      }
      .b2{
        margin-left: 140px;
      }
      .logo{
        width: 120px;
      }
      .text-lastx p{
        font-size: 13px;
      }
      .s1 h1, .s2 h1{
        font-size: 70px;
      }

}
@media screen and (max-width: 357px){
    .buto{
        width: 250px;
        margin-left: 100px;
    }
}